@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700;800&display=swap');

@theme {
    /* primary colors */
    --color-brightRed: hsl(12, 88%, 59%);
    --color-brightRedLight: hsl(12, 88%, 69%);
    --color-brightRedVeryLight: hsl(12, 88%, 90%);
    --color-darkBlue: hsl(228, 39%, 23%);

    /* neutral colors */
    --color-darkGrayBlue: hsl(227, 12%, 61%);
    --color-veryDarkBlue: hsl(233, 12%, 13%);
    --color-veryPaleRed: hsl(13, 100%, 96%);
    --color-veryLightGray: hsl(0, 0%, 98%);

    /* font family */
    --font-vietnam: "Be Vietnam Pro", serif;
}

/* nav section */
.nav {
    @apply relative container mx-auto p-5
}

.nav-container {
    @apply flex items-center justify-between
}

.menu-items {
    @apply hidden md:flex justify-between gap-x-8
}

.menu-link {
    @apply hover:text-darkGrayBlue
}

.btn {
    @apply p-3 px-6 text-white font-medium bg-brightRed rounded-full hover:bg-brightRedLight
}

/* hero section */
.hero-container {
    @apply flex flex-col-reverse items-center container mx-auto px-6 mt-10 my-0 md:flex-row md:my-0
}

.hero-header {
    @apply max-w-md text-center text-darkBlue text-4xl font-bold md:text-5xl md:text-left
}

.hero-p {
    @apply max-w-sm my-12 text-center text-gray-400 md:text-left
}

/* feature section */
.feature-container {
    @apply container mx-auto flex flex-col items-center px-4 mt-10 gap-12 md:gap-0 md:flex-row
}

.feature-h {
    @apply max-w-md text-4xl font-bold text-center md:text-left
}

.feature-p {
    @apply max-w-md text-center text-darkGrayBlue md:text-left
}

body {
    background-image: url(../images/bg-tablet-pattern.svg);
    background-repeat: no-repeat;
    background-size: 800px;
    background-position: 90% -25%;
}

#CTA {
    background-image: url(../images/bg-simplify-section-desktop.svg);
    background-repeat: no-repeat;

}

@media(max-width:576px){
    body{
        background-position: 50px -50px;
        background-size: 500px;
    }
    #CTA{
        background-image: url(../images/bg-simplify-section-mobile.svg);
    }
}

/* hambuger menu */
.hamburger{
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.3s;
    position: relative;
}
.hamburger-top,
.hamburger-middle,
.hamburger-bottom{
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background-color: black;
    transform: rotate(0);
    transition: all 0.3s;
}
.hamburger-middle{
    transform: translateY(7px);
}
.hamburger-bottom{
    transform: translateY(14px);
}
.open{
    transform: rotate(90deg);
    transform: translateY(0px);
}
.open .hamburger-top{
    transform: rotate(45deg) translateY(6px) translate(6px);
}
.open .hamburger-middle{
    display: none;
}
.open .hamburger-bottom{
    transform: rotate(-45deg) translateY(6px) translate(-6px);
}

#menu .menu-link:hover{
    background-color: hsl(12, 88%, 69%);
    color: white;
    width: 100%;
    text-align: center;
    padding: 5px;
}
